@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
    background: linear-gradient(108deg,#4bb1fb 0%,#1892EA 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter {
  background: rgba(255, 255, 255, 0.25);
  width: 260px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  color: rgb(143, 133, 133);
}
.counter span {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.counter .number {
  width: 40%;
  text-align: center;
  border-left: white solid;
  border-right: white solid;
}
#btn{
    position: absolute;
    top: 450px;
    padding: 12px;
    border-radius: 10px;
    margin: 6px;
    border: none;
    box-sizing: border-box;
    color: white;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;


}